/***

====================================================================
  Loading Transition
====================================================================

 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  overflow: hidden;
}
#preloader_1{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
#preloader_1 span{
  display:block;
  bottom:0px;
  width: 6px;
  height: 5px;
  background:#e04f5d;
  position:absolute;
  animation: preloader_1 1.5s  infinite ease-in-out;
}

#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;

}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#e62d3f;}
    25% {height:30px;transform:translateY(15px);background:#e62d3f;}
    50% {height:5px;transform:translateY(0px);background:#ee2438;}
    100% {height:5px;transform:translateY(0px);background:#ee2438;}
}

/***

====================================================================
  Global Settings
====================================================================

 ***/

 .ftco-animate {
   opacity: 0;
   visibility: hidden; }


 html {
   font-size: 18px;
 }

 body {
   color: #8f8f8f;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }
 a {
   transition: all 0.3s ease;
 }

 a:hover,
 a:focus {
   text-decoration: none;
 }

 a:focus {
   outline: none;
 }

 .btn {
   padding: 8px 32px;
 }

 .btn:hover {
   background-color: #ced4da;
 }

 .tm-section-pad-top {
   padding-top: 135px;
 }

 .tm-text-primary {
   color: #3496d8;
 }

 .tm-font-big {
   font-size: 1.25rem;
 }

 .tm-btn-primary {
   color: white;
   background-color: #3496d8;
   padding: 14px 35px;
   border-radius: 30px;
 }

 .tm-btn-primary:hover,
 .tm-btn-primary:focus {
   color: white;
   background-color: #73c1f6;
 }

 /***

 ====================================================================
   nav
 ====================================================================

  ***/

  .tm-navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  .tm-navbar.scroll {
    background-color: white;
    border-bottom: 1px solid #e9ecef;
  }

  .navbar-brand {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .navbar-brand:hover,
  .tm-navbar.scroll .navbar-brand:hover {
    color: #3496d8;
  }

  .tm-navbar.scroll .navbar-brand {
    color: #8f8f8f;
  }

  .nav-item {
    list-style: none;
  }

  .tm-nav-link {
    color: white;
  }

  .tm-navbar.scroll .tm-nav-link {
    color: #8f8f8f;
  }

  .tm-navbar.scroll .tm-nav-link:hover,
  .tm-navbar.scroll .tm-nav-link.current,
  .tm-nav-link:hover {
    color: #3496d8;
  }

  .navbar-toggler {
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-toggler-icon {
    color: white;
    padding-top: 6px;
  }

  .tm-navbar.scroll .navbar-toggler {
    border: 1px solid #8f8f8f;
  }

  .tm-navbar.scroll .navbar-toggler-icon {
    color: #8f8f8f;
  }
  p {
    line-height: 1.9;
  }

  @media (min-width: 768px) {
    .tm-intro-text-container {
      padding-left: 65px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1275px;
    }

    .tm-container-gallery {
      max-width: 1290px;
    }

    .tm-container-contact {
      max-width: 1063px;
    }
  }

  @media (max-width: 991px) {
    .tm-intro-text-container {
      padding-left: 15px;
      padding-top: 30px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .tm-intro-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .tm-btn-submit {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  @media (max-width: 767px) {
    .tm-btn-submit {
      margin-left: 20px;
      margin-top: 0;
    }

    .navbar-nav {
      max-width: 200px;
      text-align: right;
    }

    .navbar-collapse {
      background-color: rgb(255, 255, 255);
      padding: 10px;
      border-radius: 3px;
    }

    .navbar-collapse .nav-link {
      color: #8f8f8f;
    }
  }

  @media (max-width: 480px) {
    .tm-gallery-container {
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
    }

    .slick-dots li {
      margin: 0 8px;
    }

    .tm-gallery-item {
      margin: 0;
    }
  }

  @media (max-width: 420px) {
    .tm-btn-submit {
      display: block;
      margin-left: 0;
      margin-top: 20px;
    }
  }


  /***

  ====================================================================
    section 1
  ====================================================================

   ***/

   #hero {
     background-image: url(../img/paralax.png);
     background-repeat: no-repeat;
     height: 100vh;
     min-height: 375px;
     position: relative;
   }

   @media (min-height: 830px) {
     #hero {
       background-position: center -210px;
     }
   }

   @media (min-height: 680px) and (max-height: 829px) {
     #hero {
       background-position: center -300px;
     }
   }

   @media (min-height: 500px) and (max-height: 679px) {
     #hero {
       background-position: center -400px;
     }
   }

   @media (max-height: 499px) {
     #hero {
       background-position: center -450px;
     }
   }

   .tm-hero-text-container {
     width: 100%;
     height: 100%;
     display: flex;
     flex-flow: column;
     justify-content: center;
   }

   .tm-hero-text-container-inner {
     margin-top: -90px;
   }

   .text-slider-items {
     display: none;
   }

   .tm-hero-title {
     font-size: 3.5rem;
     text-shadow: 2px 2px 2px #333;
   }

   .tm-intro-next {
     position: absolute;
     bottom: 100px;
     left: 0;
     right: 0;
   }

   @media (max-height: 480px) {
     .tm-hero-text-container-inner {
       margin-top: -40px;
     }

     .tm-intro-next {
       bottom: 20px;
     }
   }

   .tm-down-arrow-link {
     display: block;
     margin-top: 18%;
   }

   .tm-down-arrow {
     color: #c57e7d;
     cursor: pointer;
     background: white;
     border-radius: 50%;
     padding: 10px 22px 8px;
     transition: all 0.3s ease;
   }

   .tm-down-arrow:hover,
   .tm-down-arrow:focus {
     color: white;
     background: #3496d8;
   }


   /***

   ====================================================================
     section 2
   ====================================================================

    ***/

   .tm-section-title {
     font-size: 2.6rem;
     font-weight: normal;
   }

   .tm-intro-text {
     font-size: 1.2rem;
     line-height: 1.4;
   }

   .tm-icon {
     display: block;
     margin-bottom: 55px;
     color: #3496d8;
   }

   /* Work */

   .tm-work-description {
     max-width: 650px;
     width: 100%;
     font-size: 0.9rem;
   }

   .tm-gallery-container {
     padding-top: 70px;
     padding-bottom: 120px;
   }

   .tm-gallery-item {
     margin: 0 15px;
   }

   .slick-dots {
     bottom: -65px;
   }

   .slick-dots li {
     margin: 0 13px;
   }

   .slick-dots li button:hover:before,
   .slick-dots li button:focus:before,
   .slick-dots li.slick-active button:before {
     opacity: 1;
     color: #3ba0dd;
   }

   .slick-dots li button:before {
     font-size: 26px;
   }

   /* Hover Effect */
   /* Common style */
   .grid figure {
     position: relative;
     float: left;
     overflow: hidden;
     /* margin: 10px 1%;
     min-width: 320px;
   	max-width: 480px;
   	max-height: 360px;
   	width: 48%; */
     background: #3085a3;
     text-align: center;
     cursor: pointer;
   }

   .grid figure img {
     position: relative;
     display: block;
     min-height: 100%;
     max-width: 100%;
     opacity: 0.8;
   }

   .grid figure figcaption {
     padding: 2em;
     color: #fff;
     text-transform: uppercase;
     font-size: 1.25em;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
   }

   .grid figure figcaption::before,
   .grid figure figcaption::after {
     pointer-events: none;
   }

   .grid figure figcaption,
   .grid figure figcaption > a {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }

   /* Anchor will cover the whole item by default */
   /* For some effects it will show as a button */
   .grid figure figcaption > a {
     z-index: 1000;
     text-indent: 200%;
     white-space: nowrap;
     font-size: 0;
     opacity: 0;
   }

   .grid figure h2 {
     word-spacing: -0.15em;
     font-weight: 300;
   }

   .grid figure h2 span {
     font-weight: 800;
   }

   .grid figure h2,
   .grid figure p {
     margin: 0;
   }

   .grid figure p {
     letter-spacing: 1px;
     font-size: 68.5%;
   }

   /*---------------*/
   /***** Honey *****/
   /*---------------*/

   figure.effect-honey {
     background: #4a3753;
     max-width: 220px;
   }

   figure.effect-honey img {
     opacity: 0.9;
     -webkit-transition: opacity 0.35s;
     transition: opacity 0.35s;
   }

   figure.effect-honey:hover img {
     opacity: 0.5;
   }

   figure.effect-honey figcaption::before {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 10px;
     background: #3496d8;
     content: "";
     -webkit-transform: translate3d(0, 10px, 0);
     transform: translate3d(0, 10px, 0);
   }

   figure.effect-honey h2 {
     position: absolute;
     bottom: 0;
     left: 0;
     padding: 1em 1.5em;
     width: 100%;
     text-align: left;
     -webkit-transform: translate3d(0, -30px, 0);
     transform: translate3d(0, -30px, 0);
   }

   figure.effect-honey h2 i {
     font-style: normal;
     opacity: 0;
     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
     transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0, -30px, 0);
     transform: translate3d(0, -30px, 0);
   }

   figure.effect-honey figcaption::before,
   figure.effect-honey h2 {
     -webkit-transition: -webkit-transform 0.35s;
     transition: transform 0.35s;
   }

   figure.effect-honey:hover figcaption::before,
   figure.effect-honey:hover h2,
   figure.effect-honey:hover h2 i {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }

   /* Contact */

   #contact {
     color: white;
     background-image: url(../img/the-town-bg-02.jpg);
     background-position: center;
     background-repeat: no-repeat;
     min-height: 850px;
     position: relative;
     padding-bottom: 50px;
     padding-top: 160px;
   }

   .tm-underline {
     border-top: 2px solid white;
     height: 8px;
     width: 100%;
   }

   .tm-underline-inner {
     width: 25%;
     height: 8px;
     background: white;
   }

   .tm-contact-item {
     margin-bottom: 75px;
   }

   .tm-contact-item-link {
     display: flex;
     align-items: center;
   }

   .tm-contact-item-link i,
   .tm-contact-item-link span {
     color: white;
     transition: all 0.3s ease;
   }

   .tm-contact-item-link:hover i,
   .tm-contact-item-link:hover span {
     color: #3496d8;
   }

   .tm-input {
     padding: 8px 25px;
     border-radius: 3px;
     border: 1px solid white;
     background: transparent;
     color: white;
   }

   ::placeholder {
     /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: white;
     opacity: 1; /* Firefox */
   }

   :-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: white;
   }

   ::-ms-input-placeholder {
     /* Microsoft Edge */
     color: white;
   }

   .tm-btn-submit {
     margin-left: 20px;
   }

   .tm-footer {
     position: absolute;
     bottom: 35px;
     left: 0;
     right: 0;
     padding: 0 15px;
   }

   .tm-footer-link {
     color: white;
   }

   .tm-footer-link:hover,
   .tm-footer-link:focus {
     color: #3496d8;
     text-decoration: none;
   }

   /***

   ====================================================================
     shop les 3 briques
   ====================================================================

    ***/

   .feature_inner {
     margin-bottom: -30px; }

   .feature_item {
     background: #f9f9ff;
     border-radius: 10px;
     padding: 40px 60px 40px 40px;
     margin-bottom: 30px;
     transition: all 300ms linear 0s; }
     .feature_item h4 {
       font-size: 18px;
       color: #222222;
       margin-bottom: 20px;
       text-transform: uppercase;
       transition: all 300ms linear 0s;
       position: relative;
       padding-left: 35px; }
       .feature_item h4 i {
         font-size: 24px;
         padding-right: 15px;
         font-weight: 600;
         position: absolute;
         left: 0px;
         top: 40%;
         transform: translateY(-50%); }
     .feature_item p {
       margin-bottom: 0px; }
     .feature_item:hover {
       background: #fff;
       box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); }
       .feature_item:hover h4 {
         color: #faba00; }


 /***

 ====================================================================
   taylor made section
 ====================================================================

  ***/

         @media (max-width: 767.98px) {
           .services-flow {
             margin-bottom: 4em; } }

         .services-2 {
           width: 100%; }
           .services-2 h3 {
             font-size: 20px;
             font-weight: 700; }
           .services-2 .icon {
             line-height: 1.3;
             position: relative;
             width: 74px;
             height: 74px;
             margin: 0 auto;
             position: relative;
             z-index: 0;
             margin-top: 0; }
             .services-2 .icon:after {
               position: absolute;
               top: -10px;
               left: 0;
               bottom: 0;
               right: 0;
               content: '';
               border: 2px dotted #b3b3b3;
               border-bottom: none;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               border-radius: 50%;
               z-index: -1;
               width: 74px;
               height: 74px; }
             .services-2 .icon:before {
               position: absolute;
               top: 50%;
               left: 50%;
               bottom: 0;
               right: 0;
               content: '';
               background: #fdb142;
               -webkit-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               transform: translateY(-50%);
               margin-left: -20px;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               border-radius: 50%;
               z-index: -1;
               width: 40px;
               height: 40px; }
             .services-2 .icon span {
               font-size: 70px;
               color: #000000; }
           .services-2 .text {
             margin-left: 2em; }
           .services-2:nth-child(1) {
             background: rgba(0, 0, 0, 0.05); }
           .services-2:nth-child(2) {
             background: #fda729; }
             .services-2:nth-child(2) .icon:after {
               border-color: #fff !important; }
             .services-2:nth-child(2) .icon:before {
               background: #fff !important; }
           .services-2:nth-child(3) {
             background: black; }
             .services-2:nth-child(3) .icon:before {
               background: rgba(255, 255, 255, 0.1) !important; }
             .services-2:nth-child(3) .icon span {
               color: #fda729 !important; }
             .services-2:nth-child(3) .text {
               color: rgba(255, 255, 255, 0.8); }
               .services-2:nth-child(3) .text h3 {
                 color: #fff; }

 /***

 ====================================================================
   section satisfied customer
 ====================================================================

  ***/

 .owl-carousel {
   position: relative; }
   .owl-carousel .owl-item {
     opacity: .4; }
     .owl-carousel .owl-item.active {
       opacity: 1; }
   .owl-carousel .owl-nav {
     position: absolute;
     top: 50%;
     width: 100%; }
     .owl-carousel .owl-nav .owl-prev,
     .owl-carousel .owl-nav .owl-next {
       position: absolute;
       -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
       margin-top: -10px;
       color: #fda729 !important;
       -moz-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
       -webkit-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
       transition: all 0.7s ease;
       opacity: 0; }
       .owl-carousel .owl-nav .owl-prev span:before,
       .owl-carousel .owl-nav .owl-next span:before {
         font-size: 30px; }
     .owl-carousel .owl-nav .owl-prev {
       left: 0; }
     .owl-carousel .owl-nav .owl-next {
       right: 0; }
   .owl-carousel .owl-dots .owl-dot {
     width: 10px;
     height: 10px;
     margin: 5px;
     border-radius: 50%;
     background: #e6e6e6;
     position: relative; }
     .owl-carousel .owl-dots .owl-dot:after {
       position: absolute;
       top: -2px;
       left: -2px;
       right: 0;
       bottom: 0;
       width: 14px;
       height: 14px;
       content: '';
       border: 1px solid #e6e6e6;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       border-radius: 50%; }
     .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
       outline: none !important; }
     .owl-carousel .owl-dots .owl-dot.active {
       background: #b3b3b3; }
   .owl-carousel:hover .owl-nav .owl-prev,
   .owl-carousel:hover .owl-nav .owl-next {
     opacity: 1; }
   .owl-carousel:hover .owl-nav .owl-prev {
     left: -25px; }
   .owl-carousel:hover .owl-nav .owl-next {
     right: -25px; }
   .owl-carousel.home-slider {
     position: relative;
     height: 700px;
     z-index: 0; }
     .owl-carousel.home-slider .slider-item {
       background-size: cover;
       background-repeat: no-repeat;
       background-position: top center;
       height: 700px;
       position: relative;
       z-index: 0; }
       @media (max-width: 1199.98px) {
         .owl-carousel.home-slider .slider-item {
           background-position: center center !important; } }
       .owl-carousel.home-slider .slider-item .overlay {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         width: 50%;
         background: #fff;
         opacity: .4; }
         @media (min-width: 768px) {
           .owl-carousel.home-slider .slider-item .overlay {
             width: 50%; } }
       .owl-carousel.home-slider .slider-item .slider-text {
         height: 700px; }
         @media (max-width: 767.98px) {
           .owl-carousel.home-slider .slider-item .slider-text {
             text-align: center; } }
         .owl-carousel.home-slider .slider-item .slider-text .subheading {
           color: #000000;
           font-weight: 700; }
         .owl-carousel.home-slider .slider-item .slider-text .text {
           position: relative; }
         .owl-carousel.home-slider .slider-item .slider-text h1 {
           font-size: 49px;
           color: #fda729;
           line-height: 1.3;
           font-weight: 900;
           text-transform: uppercase; }
           .owl-carousel.home-slider .slider-item .slider-text h1 span {
             display: block;
             color: #000000; }
           @media (max-width: 991.98px) {
             .owl-carousel.home-slider .slider-item .slider-text h1 {
               font-size: 30px; } }
         .owl-carousel.home-slider .slider-item .slider-text .subheading {
           font-size: 18px;
           font-weight: 400;
           color: rgba(0, 0, 0, 0.8); }
         .owl-carousel.home-slider .slider-item .slider-text p {
           font-size: 18px;
           line-height: 1.5;
           font-weight: 300;
           color: rgba(0, 0, 0, 0.8); }
         .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
           text-transform: uppercase;
           font-size: 13px;
           letter-spacing: 1px; }
           .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
             border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
             .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
               color: #fff; }
     .owl-carousel.home-slider .owl-nav {
       position: absolute;
       top: 100%;
       width: 100%; }
       .owl-carousel.home-slider .owl-nav .owl-prev,
       .owl-carousel.home-slider .owl-nav .owl-next {
         position: absolute;
         -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         margin-top: -10px;
         outline: none !important;
         -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
         -webkit-transition: all 0.3s ease;
         -ms-transition: all 0.3s ease;
         transition: all 0.3s ease;
         opacity: 0; }
         .owl-carousel.home-slider .owl-nav .owl-prev span:before,
         .owl-carousel.home-slider .owl-nav .owl-next span:before {
           font-size: 30px;
           color: rgba(255, 255, 255, 0.5);
           -moz-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
           -ms-transition: all 0.3s ease;
           transition: all 0.3s ease; }
         .owl-carousel.home-slider .owl-nav .owl-prev:hover span:before, .owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
         .owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
         .owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
           color: #fff; }
       .owl-carousel.home-slider .owl-nav .owl-prev {
         left: 50%;
         margin-left: -80px; }
       .owl-carousel.home-slider .owl-nav .owl-next {
         right: 50%;
         margin-right: -80px; }
     .owl-carousel.home-slider:hover .owl-nav .owl-prev,
     .owl-carousel.home-slider:hover .owl-nav .owl-next {
       opacity: 1; }
     .owl-carousel.home-slider:hover .owl-nav .owl-prev {
       left: 50%;
       margin-left: -80px; }
     .owl-carousel.home-slider:hover .owl-nav .owl-next {
       right: 50%;
       margin-right: -80px; }
     .owl-carousel.home-slider .owl-dots {
       position: absolute;
       left: 0;
       right: 0;
       bottom: 60px;
       width: 100%;
       text-align: center; }
       @media (max-width: 767.98px) {
         .owl-carousel.home-slider .owl-dots {
           bottom: 5px; } }
       .owl-carousel.home-slider .owl-dots .owl-dot {
         width: 10px;
         height: 10px;
         margin: 5px;
         border-radius: 50%;
         background: rgba(255, 255, 255, 0.4); }
         .owl-carousel.home-slider .owl-dots .owl-dot.active {
           background: #fff; }


         .testimony-section {
           position: relative; }
           .testimony-section .owl-carousel {
             margin: 0; }
           .testimony-section .owl-carousel .owl-stage-outer {
             padding-top: 4em;
             padding-bottom: 2em;
             position: relative; }
           .testimony-section .owl-nav {
             position: absolute;
             top: 100%;
             width: 100%; }
             .testimony-section .owl-nav .owl-prev,
             .testimony-section .owl-nav .owl-next {
               position: absolute;
               -webkit-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               transform: translateY(-50%);
               margin-top: -10px;
               outline: none !important;
               -moz-transition: all 0.3s ease;
               -o-transition: all 0.3s ease;
               -webkit-transition: all 0.3s ease;
               -ms-transition: all 0.3s ease;
               transition: all 0.3s ease;
               opacity: 0; }
               .testimony-section .owl-nav .owl-prev span:before,
               .testimony-section .owl-nav .owl-next span:before {
                 font-size: 30px;
                 color: rgba(0, 0, 0, 0.2);
                 -moz-transition: all 0.3s ease;
                 -o-transition: all 0.3s ease;
                 -webkit-transition: all 0.3s ease;
                 -ms-transition: all 0.3s ease;
                 transition: all 0.3s ease; }
               .testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
               .testimony-section .owl-nav .owl-next:hover span:before,
               .testimony-section .owl-nav .owl-next:focus span:before {
                 color: #000000; }
             .testimony-section .owl-nav .owl-prev {
               left: 50%;
               margin-left: -80px; }
             .testimony-section .owl-nav .owl-next {
               right: 50%;
               margin-right: -80px; }
           .testimony-section:hover .owl-nav .owl-prev,
           .testimony-section:hover .owl-nav .owl-next {
             opacity: 1; }
           .testimony-section:hover .owl-nav .owl-prev {
             left: 50%;
             margin-left: -80px; }
           .testimony-section:hover .owl-nav .owl-next {
             right: 50%;
             margin-right: -80px; }
           .testimony-section .owl-dots {
             text-align: left; }
             .testimony-section .owl-dots .owl-dot {
               width: 10px;
               height: 10px;
               margin: 5px;
               border-radius: 50%;
               background: rgba(0, 0, 0, 0.2); }
               .testimony-section .owl-dots .owl-dot.active {
                 background: #fda729; }

         .testimony-wrap {
           display: block;
           position: relative;
           background: rgba(255, 255, 255, 0.1);
           color: rgba(0, 0, 0, 0.8); }
           .testimony-wrap .user-img {
             width: 120px;
             height: 120px;
             border-radius: 2px;
             position: relative;
             margin-top: 20px; }
           .testimony-wrap .text {
             width: 100%;
             position: relative; }
           .testimony-wrap .quote {
             position: absolute;
             top: -60px;
             left: 0; }
             .testimony-wrap .quote i {
               font-size: 44px;
               color: #fda729; }
           .testimony-wrap .name {
             font-weight: 400;
             font-size: 18px;
             margin-bottom: 0;
             color: #000000; }
           .testimony-wrap .position {
             font-size: 14px;
             color: #fda729; }


 /***

 ====================================================================
   section photo empile
 ====================================================================

  ***/

.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
     padding-right: 0;
     padding-left: 0; }

 .project {
   position: relative;
   width: 100%;
   display: block;
   overflow: hidden;
   z-index: 0; }
   .project:after {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     content: '';
     background: #fda729;
     opacity: 0;
     z-index: 1;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     transition: all 0.3s ease; }
   .project img {
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
     z-index: -1;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     transition: all 0.6s ease; }
   .project .text {
     position: absolute;
     bottom: -100px;
     left: 0;
     right: 0;
     padding: 2em;
     opacity: 0;
     z-index: 2;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     transition: all 0.6s ease; }
     .project .text span {
       font-size: 14px;
       text-transform: uppercase;
       letter-spacing: 2px;
       color: rgba(255, 255, 255, 0.8); }
     .project .text h3 {
       color: #fff; }
       .project .text h3 a {
         color: #fff; }
   .project .icon {
     position: absolute;
     top: -50px;
     right: 2em;
     width: 50px;
     height: 50px;
     bordeR: 1px solid #fff;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     border-radius: 50%;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     transition: all 0.6s ease;
     opacity: 0;
     z-index: 2; }
     .project .icon span {
       color: #fff;
       font-size: 20px; }
   .project:hover:after, .project:focus:after {
     opacity: .8; }
   .project:hover .text, .project:focus .text {
     opacity: 1;
     bottom: 0; }
   .project:hover .icon, .project:focus .icon {
     top: 50px;
     opacity: 1; }
   .project:hover img, .project:focus img {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.3);
     -o-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3); }

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.ftco-no-pb {
    padding-bottom: 0; }

.ftco-no-pt {
  padding-top: 0; }
